# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env/
.venv/
env/
.env
env
venv/
ENV/
env.bak/
venv.bak/
.env
# Flask stuff:
instance/
/instance
instance

# node stuff
/node_modules
package-lock.json
