#video-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 250px;
    margin: 0 auto;
    border-style: solid;
    border-color: red;
}

#timer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px; /* Adjust the margin as needed for spacing */
}

/* Add any additional styles for #timer-container here */


#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 1200px;
    margin: 0 auto;
    border-style: solid;
    border-color: red;
}

#image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.image-wrapper {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%; /* Membagi lebar container menjadi dua bagian */
    height: 300px; /* Sesuaikan dengan tinggi gambar */
}

#image1,
#image2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 300px;
    margin: 0 auto;
    border-style: solid;
    border-color: aqua;
    position: relative;
}

#stats {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 10px auto;
}

#stats1,
#stats2 {
    width: 50%;
}

#player1-table {
    margin-left: 0%;
    width: 100%;
    justify-content: space-between;
    display: grid;
    margin-right: auto;
}

#player2-table {
    margin-left: 0%;
    width: 100%;
    justify-content: space-between;
    display: grid;
    margin-right: auto;
}

thead,
tbody {
    display: block;
}

#mark-table-body,
#mark-table-body-2 {
    height: 224px;
    overflow: auto;
}

/* Footer - Title and button */
#footer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 10px auto;
}
#stats1-now,
#stats2-now {
    width: 50%;
}

#fighter1,
#fighter2 {
    margin: 10px;
}


/* Table stats player kiri & kanan */
#stats-table {
    border-collapse: collapse;
    width: 100%;
}

#stats-table th,
#stats-table td {
    border: 1px solid #dddddd;
    text-align: center;
    padding-right: 25px;
}
/* CSS for table container with horizontal scroll */
.table-container {
    width: 100%; /* Adjust the width as needed */
    overflow-x: auto;
    white-space: nowrap; /* Prevent line breaks in table cells */
}


#stats-table th {
    background-color: #f2f2f2;
}

/* ========== Pemisah antar 2 gambar */
#image-container {
    display: flex;
    justify-content: space-between;
}

/* Style untuk gambar */
.image-wrapper {
    margin-right: 10px;
}

/* Style untuk elemen gambar */
img {
    max-width: 100%;
    height: auto;
}

/* Mark circle - sebagai penanda user ngeklik  */
.lead-uppercut-mark-circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: red;
    position: absolute;
    pointer-events: none; 
}

.leaduppercut-Fail-mark-circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: absolute;
    background: radial-gradient(circle, red 40%, transparent 40%);
    border: 2px solid red;
    pointer-events: none; 
}
.leaduppercut-block-mark-circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;                 /* Makes it a circle */
    border: 2px solid red;        /* Border around the circle */
    position: relative;                 /* Enables absolute positioning of inner elements */
    background-color: transparent;      /* Making the background transparent, so only the border is visible */
    pointer-events: none; 
}

/* Vertical line of the crosshair */
.leaduppercut-block-mark-circle::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    height: 100%;
    width: 2px;
    background-color: red;
    transform: translateX(-50%);        /* Centering the line */
}

/* Horizontal line of the crosshair */
.leaduppercut-block-mark-circle::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    height: 2px;
    width: 100%;
    background-color: red;
    transform: translateY(-50%);        /* Centering the line */
}
/* For -knock-out-mark-circle */
.leaduppercut-knock-out-mark-circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: absolute;
    background: radial-gradient(circle, red 40%, transparent 40%);
    border: 2px solid red;
    pointer-events: none; 
}

.leaduppercut-knock-out-mark-circle::before {
    content: "";
    width: 4px;
    height: 4px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
}

/* For knock-mark-circle */
.leaduppercut-knock-mark-circle {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    position: absolute;
    border: 2px solid red;
    pointer-events: none; 
}

.leaduppercut-knock-mark-circle::before {
    content: "";
    width: 4px;
    height: 4px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid red;
}

.rear-uppercut-mark-circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: rgb(155, 120, 107);
    position: absolute;
    pointer-events: none; 
}
.rearuppercut-Fail-mark-circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: absolute;
    background: radial-gradient(circle, rgb(155, 120, 107) 40%, transparent 40%);
    border: 2px solid rgb(155, 120, 107);
    pointer-events: none; 
}
.rearuppercut-block-mark-circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;                 /* Makes it a circle */
    border: 2px solid rgb(155, 120, 107);        /* Border around the circle */
    position: relative;                 /* Enables absolute positioning of inner elements */
    background-color: transparent;      /* Making the background transparent, so only the border is visible */
    pointer-events: none; 
}

/* Vertical line of the crosshair */
.rearuppercut-block-mark-circle::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    height: 100%;
    width: 2px;
    background-color: rgb(155, 120, 107);
    transform: translateX(-50%);        /* Centering the line */
}

/* Horizontal line of the crosshair */
.rearuppercut-block-mark-circle::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    height: 2px;
    width: 100%;
    background-color: rgb(155, 120, 107);
    transform: translateY(-50%);        /* Centering the line */
}


/* For -knock-out-mark-circle */
.rearuppercut-knock-out-mark-circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: absolute;
    background: radial-gradient(circle,  rgb(155, 120, 107) 40%, transparent 40%);
    border: 2px solid  rgb(155, 120, 107);
    pointer-events: none; 
}

.rearuppercut-knock-out-mark-circle::before {
    content: "";
    width: 4px;
    height: 4px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
}

/* For knock-mark-circle */
.rearuppercut-knock-mark-circle {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    position: absolute;
    border: 2px solid  rgb(155, 120, 107);
    pointer-events: none; 
}

.rearuppercut-knock-mark-circle::before {
    content: "";
    width: 4px;
    height: 4px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid  rgb(155, 120, 107);
}


.jab-mark-circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: blue; /* Set the background color to blue */
    position: absolute;
    pointer-events: none; 
}

.jab-Fail-mark-circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: absolute;
    background: radial-gradient(circle, blue 40%, transparent 40%);
    border: 2px solid blue;
    pointer-events: none; 
}
.jab-block-mark-circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;                 /* Makes it a circle */
    border: 2px solid blue;        /* Border around the circle */
    position: relative;                 /* Enables absolute positioning of inner elements */
    background-color: transparent;      /* Making the background transparent, so only the border is visible */
    pointer-events: none; 
}

/* Vertical line of the crosshair */
.jab-block-mark-circle::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    height: 100%;
    width: 2px;
    background-color:blue;
    transform: translateX(-50%);        /* Centering the line */
}

/* Horizontal line of the crosshair */
.jab-block-mark-circle::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    height: 2px;
    width: 100%;
    background-color: blue;
    transform: translateY(-50%);        /* Centering the line */
}

/* For -knock-out-mark-circle */
.jab-knock-out-mark-circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: absolute;
    background: radial-gradient(circle,  blue 40%, transparent 40%);
    border: 2px solid  blue;
    pointer-events: none; 
}

.jab-knock-out-mark-circle::before {
    content: "";
    width: 4px;
    height: 4px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
}

/* For knock-mark-circle */
.jab-knock-mark-circle {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    position: absolute;
    border: 2px solid  blue;
    pointer-events: none; 
}

.jab-knock-mark-circle::before {
    content: "";
    width: 4px;
    height: 4px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid  blue;
}



.croos-mark-innercircle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: yellow;
    position: absolute;
    pointer-events: none; 
}

.cross-Fail-mark-circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: absolute;
    background: radial-gradient(circle, yellow 40%, transparent 40%);
    border: 2px solid yellow;
    pointer-events: none; 
}
.cross-block-mark-circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;                 /* Makes it a circle */
    border: 2px solid yellow;        /* Border around the circle */
    position: relative;                 /* Enables absolute positioning of inner elements */
    background-color: transparent;      /* Making the background transparent, so only the border is visible */
    pointer-events: none; 
}

/* Vertical line of the crosshair */
.cross-block-mark-circle::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    height: 100%;
    width: 2px;
    background-color:yellow;
    transform: translateX(-50%);        /* Centering the line */
}

/* Horizontal line of the crosshair */
.cross-block-mark-circle::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    height: 2px;
    width: 100%;
    background-color: yellow;
    transform: translateY(-50%);        /* Centering the line */
}



/* For -knock-out-mark-circle */
.cross-knock-out-mark-circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: absolute;
    background: radial-gradient(circle,  yellow 40%, transparent 40%);
    border: 2px solid  yellow;
    pointer-events: none; 
}

.cross-knock-out-mark-circle::before {
    content: "";
    width: 4px;
    height: 4px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
}

/* For knock-mark-circle */
.cross-knock-mark-circle {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    position: absolute;
    border: 2px solid  yellow;
    pointer-events: none; 
}

.cross-knock-mark-circle::before {
    content: "";
    width: 4px;
    height: 4px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid  yellow;
}



.leadhook-mark-innercircle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: green;
    position: absolute;
    pointer-events: none; 
}

.leadhook-Fail-mark-circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: absolute;
    background: radial-gradient(circle, green 40%, transparent 40%);
    border: 2px solid green;
    pointer-events: none; 
}
.leadhook-block-mark-circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;                 /* Makes it a circle */
    border: 2px solid green;        /* Border around the circle */
    position: relative;                 /* Enables absolute positioning of inner elements */
    background-color: transparent;      /* Making the background transparent, so only the border is visible */
    pointer-events: none; 
}

/* Vertical line of the crosshair */
.leadhook-block-mark-circle::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    height: 100%;
    width: 2px;
    background-color:green;
    transform: translateX(-50%);        /* Centering the line */
}

/* Horizontal line of the crosshair */
.leadhook-block-mark-circle::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    height: 2px;
    width: 100%;
    background-color: green;
    transform: translateY(-50%);        /* Centering the line */
}


/* For -knock-out-mark-circle */
.leadhook-knock-out-mark-circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: absolute;
    background: radial-gradient(circle,  green 40%, transparent 40%);
    border: 2px solid  green;
    pointer-events: none; 
}

.leadhook-knock-out-mark-circle::before {
    content: "";
    width: 4px;
    height: 4px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
}

/* For knock-mark-circle */
.leadhook-knock-mark-circle {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    position: absolute;
    border: 2px solid  green;
    pointer-events: none; 
}

.leadhook-knock-mark-circle::before {
    content: "";
    width: 4px;
    height: 4px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid  green;
}



.rearhook-mark-innercircle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: greenyellow;
    position: absolute;
    pointer-events: none; 
}

.rearhook-Fail-mark-circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: absolute;
    background: radial-gradient(circle, greenyellow 40%, transparent 40%);
    border: 2px solid greenyellow;
    pointer-events: none; 
}
.rearhook-block-mark-circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;                 /* Makes it a circle */
    border: 2px solid greenyellow;        /* Border around the circle */
    position: relative;                 /* Enables absolute positioning of inner elements */
    background-color: transparent;      /* Making the background transparent, so only the border is visible */
    pointer-events: none; 
}

/* Vertical line of the crosshair */
.rearhook-block-mark-circle::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    height: 100%;
    width: 2px;
    background-color:greenyellow;
    transform: translateX(-50%);        /* Centering the line */
}

/* Horizontal line of the crosshair */
.rearhook-block-mark-circle::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    height: 2px;
    width: 100%;
    background-color: greenyellow;
    transform: translateY(-50%);        /* Centering the line */
}



/* For -knock-out-mark-circle */
.rearhook-knock-out-mark-circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: absolute;
    background: radial-gradient(circle,  greenyellow 40%, transparent 40%);
    border: 2px solid  greenyellow;
    pointer-events: none; 
}

.rearhook-knock-out-mark-circle::before {
    content: "";
    width: 4px;
    height: 4px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
}

/* For knock-mark-circle */
.rearhook-knock-mark-circle {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    position: absolute;
    border: 2px solid  greenyellow;
    pointer-events: none; 
}

.rearhook-knock-mark-circle::before {
    content: "";
    width: 4px;
    height: 4px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid  greenyellow;
}



.default-mark-innercircle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: gray;
    position: absolute;
}
