<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="post" action="/uploads">
        <label for="title">Title:</label>
        <input type="text" name="title" id="title" required>
        <input type="file" name="video" id="video">
        <button type="submit">Add</button>
    </form>

    {% for video in videos %}
        <p>{{ video.title }}</p>
    {% endfor %}
</body>
</html>