<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}Document{% endblock %}</title>
    <!-- <script src="/app/components/modal/modal.js" type="module"></script> -->
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='button.css')}}" />
    <!-- <link rel="stylesheet" href="{{url_for('static', filename='main.css')}}" /> -->
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='css/output.css')}}" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      integrity="sha384-rbsltsTS3LqFjSNW1KiL25F93qi5JKld9JZrYfL2RmkWcY6b5AiRvT47jpcoN/y"
      crossorigin="anonymous" />
    <script src="https://unpkg.com/htmx.org@2.0.3"></script>
  </head>
  <body>
    <div>
      {% with messages = get_flashed_messages(with_categories = true) %} {% if
      messages %} {% for category, message in messages %}
      <div class="alert alert-{{ category }}">{{ message }}</div>
      {% endfor %} {% endif %} {% endwith %} {% block content %} {% endblock %}
    </div>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"></script>
  </body>
</html>
