{% extends "base.html"%}

{% block content %}
<!-- Flash messages -->
{% with messages = get_flashed_messages(with_categories=true) %}
	{% if messages %}
		<ul>
			{% for category, message in messages %}
				<li class="{{ category }}">{{ message }}</li>
			{% endfor %}
		</ul>
	{% endif %}
{% endwith %}

<form action="{{ url_for('register') }}" method=post>
	<input type="text" name="username">
	<input type="email" name="email">
	<input type="password" name="password">
	<input type="password" name="confirm_password">
	
	<button type="submit">Submit</button>
</form>
{% endblock content %}
